[Desktop Entry]
Type=Application
Name=WhatsApp
Comment=WhatsApp Web in a standalone Brave window
Exec="{{ home }}/.mybin/webapp-whatsapp"
Icon=whatsapp
Terminal=false
Categories=Network;InstantMessaging;
Keywords=WhatsApp;Chat;Messaging;
